

@font-face {
  font-family: "Avenir-Next-Light";
  src: url(../src//assets/Fonts/AvenirNextLTPro-Iight.otf);
}

@font-face {
  font-family: "Avenir-Next-Regular";
  src: url(../src//assets/Fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir-Next-Bold";
  src: url(../src//assets/Fonts/AvenirNextLTPro-Bold.otf);
}